<div class="container-lg body">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="contact-form">
        <h1>Update Service</h1>
        <form method="post">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputName">Name<span style="color: red">*</span></label>
                <input type="text" class="form-control" id="inputName" value="Studio">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputArea">Area<span style="color: red">*</span></label>
                <input type="email" class="form-control" id="inputArea" value="60m">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputCost">Cost<span style="color: red">*</span></label>
                <input type="text" class="form-control" id="inputCost" value="60000">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPeople">Max People<span style="color: red">*</span></label>
                <input type="text" class="form-control" id="inputPeople" value="5">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputRoom">Standard Room<span style="color: red">*</span></label>
                <input type="text" class="form-control" id="inputRoom" value="Vip">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputConvenience">Convenience<span style="color: red">*</span></label>
                <input type="text" class="form-control" id="inputConvenience" value="Full">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputArea">Pool Area<span style="color: red">*</span></label>
                <input type="text" class="form-control" id="inputArea1" value="30m">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFloor">Floor<span style="color: red">*</span></label>
                <input type="text" class="form-control" id="inputFloor" value="3">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputServiceType">Service Type<span style="color: red">*</span></label>
            <select class="form-control" id="inputServiceType">
              <option>Villa</option>
              <option>Room</option>
              <option>House</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputRentType">Rent Type<span style="color: red">*</span></label>
            <select class="form-control" id="inputRentType">
              <option>Year</option>
              <option>Month</option>
              <option>Day</option>
            </select>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
