<br><br>
<div class="container-fluid-lg body">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="contact-form">
        <h1>Update Service</h1>
        <form [formGroup]="serviceUpdateForm" method="post" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputCode">Code<span style="color: red">*</span></label>
                <input formControlName="serviceCode" type="text" class="form-control" id="inputCode">
                <div *ngIf="serviceUpdateForm.get('serviceCode').invalid && serviceUpdateForm.get('serviceCode').touched">
                  <span style="color: red" *ngIf="serviceUpdateForm.get('serviceCode').errors.required">Không để trống </span>
                  <span style="color: red" *ngIf="serviceUpdateForm.get('serviceCode').errors.pattern">Mã DV phải có định dạng DV-XXXX, X là số</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputName">Name<span style="color: red">*</span></label>
                <input formControlName="serviceName" type="text" class="form-control" id="inputName">
                <div *ngIf="serviceUpdateForm.get('serviceName').invalid && serviceUpdateForm.get('serviceName').touched">
                  <span style="color: red" *ngIf="serviceUpdateForm.get('serviceName').errors.required">Không để trống </span>
                  <span style="color: red"
                        *ngIf="serviceUpdateForm.get('serviceName').errors.maxlength">Không nhập quá 15 kí tự</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputArea">Area<span style="color: red">*</span></label>
              <input formControlName="serviceArea" type="number" class="form-control" id="inputArea">
              <div *ngIf="serviceUpdateForm.get('serviceArea').invalid && serviceUpdateForm.get('serviceArea').touched">
                <span style="color: red" *ngIf="serviceUpdateForm.get('serviceName').errors.required">Không để trống </span>
                <span style="color: red"
                      *ngIf="serviceUpdateForm.get('serviceArea').errors.min">Không được nhỏ hơn 0 </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputCost">Cost<span style="color: red">*</span></label>
                <input formControlName="serviceCost" type="number" class="form-control" id="inputCost">
                <div *ngIf="serviceUpdateForm.get('serviceCost').invalid && serviceUpdateForm.get('serviceCost').touched">
                  <span style="color: red" *ngIf="serviceUpdateForm.get('serviceCost').errors.required">Không để trống </span>
                  <span style="color: red"
                        *ngIf="serviceUpdateForm.get('serviceCost').errors.min">Không được nhỏ hơn 0</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPeople">Max People<span style="color: red">*</span></label>
                <input formControlName="serviceMaxPeople" type="number" class="form-control" id="inputPeople">
                <div *ngIf="serviceUpdateForm.get('serviceMaxPeople').invalid && serviceUpdateForm.get('serviceMaxPeople').touched">
                  <span style="color: red" *ngIf="serviceUpdateForm.get('serviceMaxPeople').errors.required">Không để trống </span>
                  <span style="color: red"
                        *ngIf="serviceUpdateForm.get('serviceMaxPeople').errors.min">Không được nhỏ hơn 0</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputRoom">Standard Room<span style="color: red">*</span></label>
                <input formControlName="standardRoom" type="number" class="form-control" id="inputRoom">
                <div *ngIf="serviceUpdateForm.get('standardRoom').invalid && serviceUpdateForm.get('standardRoom').touched">
                  <span style="color: red" *ngIf="serviceUpdateForm.get('standardRoom').errors.required">Không để trống </span>
                  <span style="color: red"
                        *ngIf="serviceUpdateForm.get('standardRoom').errors.min">Không được nhỏ hơn 0</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputConvenience">Convenience<span style="color: red">*</span></label>
                <input formControlName="convenience" type="text" class="form-control" id="inputConvenience">
                <div *ngIf="serviceUpdateForm.get('convenience').invalid && serviceUpdateForm.get('convenience').touched">
                  <span style="color: red" *ngIf="serviceUpdateForm.get('convenience').errors.required">Không để trống </span>
                  <span style="color: red"
                        *ngIf="serviceUpdateForm.get('convenience').errors.min">Không được nhỏ hơn 0</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputArea">Pool Area<span style="color: red">*</span></label>
                <input formControlName="poolArea" type="text" class="form-control" id="inputArea1">
                <div *ngIf="serviceUpdateForm.get('poolArea').invalid && serviceUpdateForm.get('poolArea').touched">
                  <span style="color: red" *ngIf="serviceUpdateForm.get('poolArea').errors.required">Không để trống </span>
                  <span style="color: red"
                        *ngIf="serviceUpdateForm.get('poolArea').errors.min">Không được nhỏ hơn 0</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFloor">Floor<span style="color: red">*</span></label>
                <input formControlName="floors" type="text" class="form-control" id="inputFloor">
                <div *ngIf="serviceUpdateForm.get('floors').invalid && serviceUpdateForm.get('floors').touched">
                  <span style="color: red" *ngIf="serviceUpdateForm.get('floors').errors.required">Không để trống </span>
                  <span style="color: red"
                        *ngIf="serviceUpdateForm.get('floors').errors.min">Không được nhỏ hơn 0</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputServiceType">Service Type<span style="color: red">*</span></label>
            <select formControlName="serviceType" class="form-control" id="inputServiceType">
              <option>Villa</option>
              <option>Room</option>
              <option>House</option>
            </select>
            <div *ngIf="serviceUpdateForm.get('serviceType').invalid && serviceUpdateForm.get('serviceType').touched">
              <span style="color: red" *ngIf="serviceUpdateForm.get('serviceType').errors.required">Không để trống </span>
            </div>
          </div>
          <div class="form-group">
            <label for="inputRentType">Rent Type<span style="color: red">*</span></label>
            <select formControlName="rentType" class="form-control" id="inputRentType">
              <option>Year</option>
              <option>Month</option>
              <option>Day</option>
            </select>
            <div *ngIf="serviceUpdateForm.get('rentType').invalid && serviceUpdateForm.get('rentType').touched">
              <span style="color: red" *ngIf="serviceUpdateForm.get('rentType').errors.required">Không để trống </span>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
