<app-nav-bar></app-nav-bar>
<app-navbar></app-navbar>
<app-font-size-editor></app-font-size-editor>
<br>
<app-pet></app-pet>
<br>
<app-angular-using-bootstrap></app-angular-using-bootstrap>
<app-article></app-article>
<app-name-card cardName="HieuMM Dev" email="hieudev@codegym.vn" phone="0983910JQK"></app-name-card>
<app-progress-bar progress="80"></app-progress-bar>
<app-todo></app-todo>
<a routerLink="/timelines">Ứng dụng tính thời gian sống</a><br>
<a routerLink="/youtube">Youtube</a><br>
<a routerLink="/product/list">Danh sách sản phẩm</a>|<a routerLink="/product/create">Tạo mới sản phẩm</a><br>
<a routerLink="/category/list">Số lượng sản phẩm</a>|<a routerLink="/category/create">Thêm mới số lượng</a>
<router-outlet></router-outlet>
<app-footer></app-footer>

