<body>
<section>
  <!--for demo wrap-->
  <h1>Contract</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        <th>Star Date</th>
        <th>End Date</th>
        <th>Deposit</th>
        <th>Total Money</th>
        <th>Service</th>
        <th>Employee</th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
      <tr *ngFor="let contract of contracts">
        <td>{{contract.contractStartDate}}</td>
        <td>{{contract.contractEndDate}}</td>
        <td>{{contract.contractDeposit}}</td>
        <td>{{contract.contractTotalMoney}}</td>
        <td>{{contract.facilityName}}</td>
        <td>{{contract.employeeName}}</td>
      </tr>
<!--      <tr>-->
<!--        <td>2021-03-15</td>-->
<!--        <td>2021-03-17</td>-->
<!--        <td>3000</td>-->
<!--        <td>50000</td>-->
<!--        <td>SUITE ROOM</td>-->
<!--        <td>Manager</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>2021-01-14</td>-->
<!--        <td>2021-01-18</td>-->
<!--        <td>0</td>-->
<!--        <td>100000</td>-->
<!--        <td>DELUXE ROOM</td>-->
<!--        <td>Manager</td>-->
<!--      </tr>-->
      </tbody>
    </table>
  </div>
</section>
</body>
