<body>
<section class="body">
  <!--for demo wrap-->
  <h1>Customer</h1>
  <td>
<!--    <button type="button" (click)="openCreateDialog(customerList.push())">-->
<!--    Create Customer-->
<!--  </button>-->

<!-- class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"   <a >Create</a>-->
  </td>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Type</th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody *ngFor="let customer of customerList |paginate: { itemsPerPage: 4, currentPage: p}">
      <tr>
        <td style="color: white">{{customer.customerCode}}</td>
        <td>{{customer.customerName}}</td>
        <td>{{customer.customerGender}}</td>
        <td>{{customer.customerAddress}}</td>
        <td>{{customer.customerPhone}}</td>
        <td>{{customer.customerEmail}}</td>
        <td>{{customer.customerType.customerTypeName}}</td>
<!--        <td *ngIf="customer.Type != null">{{customer.Type.name}}</td>-->
      </tr>
<!--      <tr>-->
<!--        <td>Marketing</td>-->
<!--        <td>16 Nov 2015</td>-->
<!--        <td>30 Nov 2017</td>-->
<!--        <td>kathy_82@example.com</td>-->
<!--        <td>26</td>-->
<!--        <td>New York City, NY</td>-->
<!--        <td>424242xxxxxx1616</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>CFO</td>-->
<!--        <td>16 Nov 2013</td>-->
<!--        <td>30 Nov 2017</td>-->
<!--        <td>elizabeth82@example.com</td>-->
<!--        <td>32</td>-->
<!--        <td>New York City, NY</td>-->
<!--        <td>424242xxxxxx5326</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>Designer</td>-->
<!--        <td>16 Nov 2013</td>-->
<!--        <td>30 Nov 2017</td>-->
<!--        <td>michael94@example.com</td>-->
<!--        <td>22</td>-->
<!--        <td>New York City, NY</td>-->
<!--        <td>424242xxxxxx6328</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>Developer</td>-->
<!--        <td>16 Nov 2017</td>-->
<!--        <td>30 Nov 2017</td>-->
<!--        <td>jasoncox@example.com</td>-->
<!--        <td>25</td>-->
<!--        <td>New York City, NY</td>-->
<!--        <td>424242xxxxxx7648</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>Sale</td>-->
<!--        <td>16 Nov 2016</td>-->
<!--        <td>30 Nov 2017</td>-->
<!--        <td>christian_83@example.com</td>-->
<!--        <td>28</td>-->
<!--        <td>New York City, NY</td>-->
<!--        <td>424242xxxxxx4152</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>Support</td>-->
<!--        <td>16 Nov 2013</td>-->
<!--        <td>30 Nov 2017</td>-->
<!--        <td>emily90@example.com</td>-->
<!--        <td>24</td>-->
<!--        <td>New York City, NY</td>-->
<!--        <td>424242xxxxxx6668</td>-->
<!--      </tr>-->

      </tbody>

    </table>
    <pagination-controls (pageChange)="p = $event" style="margin-left: 55%"></pagination-controls>
  </div>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</body>


