<div class="container">
  <div class="header">Calculator</div>
  <input type="text" class="result" [(ngModel)]="numString">
  <div class="first-row">
    <input type="button" name="" (click)="sqrt(numString)" value="&radic;" class="global">
    <input type="button" name="" (click)="getValue('(')" value="(" class="global">
    <input type="button" name="" (click)="getValue(')')" value=")" class="global">
    <input type="button" name="" (click)="getValue('%')" value="%" class="global">
  </div>
  <div class="second-row">
    <input type="button" name="" (click)="getValue('7')" value="7" class="global">
    <input type="button" name="" (click)="getValue('8')" value="8" class="global">
    <input type="button" name="" (click)="getValue('9')" value="9" class="global">
    <input type="button" name="" (click)="getValue('/')" value="/" class="global">
  </div>
  <div class="third-row">
    <input type="button" name="" (click)="getValue('4')" value="4" class="global">
    <input type="button" name="" (click)="getValue('5')" value="5" class="global">
    <input type="button" name="" (click)="getValue('6')" value="6" class="global">
    <input type="button" name="" (click)="getValue('*')" value="X" class="global">
  </div>
  <div class="fourth-row">
    <input type="button" name="" (click)="getValue('1')" value="1" class="global">
    <input type="button" name="" (click)="getValue('2')" value="2" class="global">
    <input type="button" name="" (click)="getValue('3')" value="3" class="global">
    <input type="button" name="" (click)="getValue('-')" value="-" class="global">
  </div>
  <div class="conflict">
    <div class="left">
      <input type="button" name="" (click)="getValue('0')" value="0" class=" big">
      <input type="button" name="" (click)="getValue('.')" value="." class=" small">
      <input type="button" name="" (click)="clear()" value="Del" class=" red small white-text top-margin">
      <input type="button" name="" (click)="calculate()" value="=" class=" green white-text big top-margin">
    </div>
    <div class="right">
      <input type="button" name="" (click)="getValue('+')" value="+" class="global grey plus">
    </div>
  </div>
</div>
