<br><br>
<div class="container-fluid-lg body">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="contact-form">
        <h1>Create Contract</h1>
        <form [formGroup]="contractForm">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputStarDate" >Star Date<span style="color: red">*</span></label>
                <input formControlName="contractStartDate" type="date" class="form-control" id="inputStarDate">
              </div>
              <div *ngIf="contractForm.get('contractStartDate').invalid && contractForm.get('contractStartDate').touched">
                <span style="color: red" *ngIf="contractForm.get('contractStartDate').errors.required">Không để trống </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEndDate">EndDate<span style="color: red">*</span></label>
                <input formControlName="contractEndDate" type="date" class="form-control" id="inputEndDate">
              </div>
              <div *ngIf="contractForm.get('contractEndDate').invalid && contractForm.get('contractEndDate').touched">
                <span style="color: red" *ngIf="contractForm.get('contractEndDate').errors.required">Không để trống </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputDeposit" >Deposit<span style="color: red">*</span></label>
                <input formControlName="contractDeposit" type="text" class="form-control" id="inputDeposit">
              </div>
              <div *ngIf="contractForm.get('contractDeposit').invalid && contractForm.get('contractDeposit').touched">
                <span style="color: red" *ngIf="contractForm.get('contractDeposit').errors.required">Không để trống </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputTotalMoney">Total Money<span style="color: red">*</span></label>
                <input formControlName="contractTotalMoney" type="text" class="form-control" id="inputTotalMoney">
              </div>
              <div *ngIf="contractForm.get('contractTotalMoney').invalid && contractForm.get('contractTotalMoney').touched">
                <span style="color: red" *ngIf="contractForm.get('contractTotalMoney').errors.required">Không để trống </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPosition">Customer<span style="color: red">*</span></label>
            <select formControlName="customerName" class="form-control" id="inputPosition">
              <option>Brandon Green</option>
              <option>Kathy Daniels</option>
              <option>Elizabeth Alvarado</option>
              <option>Michael Coleman</option>
              <option>Jason Cox</option>
            </select>
            <div *ngIf="contractForm.get('customerName').invalid && contractForm.get('customerName').touched">
              <span style="color: red" *ngIf="contractForm.get('customerName').errors.required">Không để trống </span>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEducationDegree">Service<span style="color: red">*</span></label>
            <select formControlName="contractId" class="form-control" id="inputEducationDegree">
              <option>Studio Room</option>
              <option>DELUXE ROOM</option>
              <option>STUDIO SUITE ROOM</option>
              <option>SUITE ROOM</option>
              <option>SUPERIOR ROOM</option>
            </select>
            <div *ngIf="contractForm.get('contractId').invalid && contractForm.get('contractId').touched">
              <span style="color: red" *ngIf="contractForm.get('contractId').errors.required">Không để trống </span>
            </div>
          </div>
          <div class="form-group">
            <label for="inputDivision">Employee<span style="color: red">*</span></label>
            <select formControlName="employeeName" class="form-control" id="inputDivision">
              <option>Manager</option>
              <option>Staff</option>
              <option>Admin</option>
            </select>
            <div *ngIf="contractForm.get('employeeName').invalid && contractForm.get('employeeName').touched">
              <span style="color: red" *ngIf="contractForm.get('employeeName').errors.required">Không để trống </span>
            </div>
          </div>
          <div class="text-center">
            <button [disabled]="!contractForm.valid" [disabled]="!contractForm.valid" type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
