<div class="container-fluid-lg body">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="contact-form">
        <h1>Create Customer</h1>
        <form method="post">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputName">Name<span style="color: red">*</span></label>
                <input type="text" class="form-control" id="inputName" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail">Email<span style="color: red">*</span></label>
                <input type="email" class="form-control" id="inputEmail">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPhone">Phone<span style="color: red">*</span></label>
                <input type="text" class="form-control" id="inputPhone" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputIdCard">Id Card<span style="color: red">*</span></label>
                <input type="text" class="form-control" id="inputIdCard">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputGender">Gender<span style="color: red">*</span></label>
            <input type="text" class="form-control" id="inputGender">
          </div>
          <div class="form-group">
            <label for="inputType">Type<span style="color: red">*</span></label>
            <select class="form-control" id="inputType">
              <option>SVip</option>
              <option>Vip</option>
              <option>Member</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputBirthDay">BirthDay<span style="color: red">*</span></label>
            <input type="date" class="form-control" id="inputBirthDay">
          </div>
          <div class="form-group">
            <label for="inputMessage">Address</label>
            <textarea class="form-control" id="inputMessage" rows="5"></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
