<br><br>
<body>
<mat-form-field appearance="fill" hidden>
  <mat-label>Message</mat-label>
  <input matInput value="Thêm mới thành công!" #message>
</mat-form-field>

<mat-form-field appearance="fill" hidden>
  <mat-label>Action</mat-label>
  <input matInput value="OK!" #action>
</mat-form-field>
<div class="container-fluid-lg">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="contact-form">
        <h1>Create Customer</h1>
        <form [formGroup]="customerForm" (ngSubmit)="createCustomer()">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputName">Name<span style="color: red">*</span></label>
                <input formControlName="customerName" type="text" class="form-control" id="inputName" >
              </div>
              <div *ngIf="customerForm.get('customerName').invalid && customerForm.get('customerName').touched">

                <span style="color: red" *ngIf="customerForm.get('customerName').errors.required">Không để trống </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail">Email<span style="color: red">*</span></label>
                <input formControlName="customerEmail" type="customerEmail" class="form-control" id="inputEmail">
              </div>
              <div *ngIf="customerForm.get('customerEmail').invalid && customerForm.get('customerEmail').touched">
                <span style="color: red" *ngIf="customerForm.get('customerEmail').errors.required">Không để trống </span>
                <span style="color: red" *ngIf="customerForm.get('customerEmail').errors.email">Nhập đúng định dạng email</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPhone">Phone<span style="color: red">*</span></label>
                <input formControlName="customerPhone" type="text" class="form-control" id="inputPhone" >
              </div>
              <div *ngIf="customerForm.get('customerPhone').invalid && customerForm.get('customerPhone').touched">
                <span style="color: red" *ngIf="customerForm.get('customerPhone').errors.required">Không để trống </span>
                <span style="color: red" *ngIf="customerForm.get('customerPhone').errors.pattern">Đầu số phải 090XXXXXXX.</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputIdCard">Id Card<span style="color: red">*</span></label>
                <input formControlName="customerIdCard" type="text" class="form-control" id="inputIdCard">
              </div>
              <div *ngIf="customerForm.get('customerIdCard').invalid && customerForm.get('customerIdCard').touched">
                <span style="color: red" *ngIf="customerForm.get('customerIdCard').errors.required">Không để trống </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputGender">Type<span style="color: red">*</span>Gender</label>
            <select formControlName="customerGender"  class="form-control" id="inputGender">
              <!--              <option selected>&#45;&#45;Chon&#45;&#45;</option>-->
              <option value="0">Female</option>
              <option value="1">Male</option>
            </select>
<!--            <label >Gender<span style="color: red">*</span></label>-->
<!--            <input formControlName="customerGender" type="radio" >-->
<!--            <input formControlName="customerGender" type="radio" >-->

<!--            <label style="color: red">Select customer gender:</label>-->
<!--            <input type="radio" id="female" value='0' formControlName="customerGender" class="form-control">-->
<!--            <label for="female">Female</label><br>-->
<!--            <input type="radio" id="male" value='1' formControlName="customerGender" class="form-control">-->
<!--            <label for="male">Male</label>-->

            <div *ngIf="customerForm.get('customerGender').invalid && customerForm.get('customerGender').touched">
              <span style="color: red" *ngIf="customerForm.get('customerGender').errors.required">Không để trống </span>
            </div>
          </div>
          <div class="form-group">
            <label for="inputType">Type<span style="color: red">*</span></label>
            <select formControlName="customerType"  class="form-control" id="inputType">
              <!--              <option selected>&#45;&#45;Chon&#45;&#45;</option>-->
              <option *ngFor="let type of customerType" [ngValue]="type" >{{type.customerTypeName}}</option>
            </select>
            <div *ngIf="customerForm.get('customerType').invalid && customerForm.get('customerType').touched">
              <span style="color: red" *ngIf="customerForm.get('customerType').errors.required">Không để trống </span>
            </div>
          </div>
          <div class="form-group">
            <label for="inputBirthDay">BirthDay<span style="color: red">*</span></label>
            <input formControlName="customerBirthday" type="date" class="form-control" id="inputBirthDay">
            <div *ngIf="customerForm.get('customerBirthday').invalid && customerForm.get('customerBirthday').touched">
              <span style="color: red" *ngIf="customerForm.get('customerBirthday').errors.required">Không để trống </span>
            </div>
          </div>
          <div class="form-group">
            <label for="inputMessage">Address</label>
            <textarea formControlName="customerAddress" class="form-control" id="inputMessage" rows="5"></textarea>
            <div *ngIf="customerForm.get('customerAddress').invalid && customerForm.get('customerAddress').touched">
              <span style="color: red" *ngIf="customerForm.get('customerAddress').errors.required">Không để trống </span>
            </div>
          </div>
          <div class="text-center">
            <button  type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</body>



