<div class="container-fluid-lg body">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="contact-form">
        <h1>Update Customer</h1>
        <form [formGroup]="customerUpdateForm">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputName">Name<span style="color: red">*</span></label>
                <input formControlName="name" type="text" class="form-control" id="inputName" >
              </div>
              <div *ngIf="customerUpdateForm.get('name').invalid && customerUpdateForm.get('name').touched">
                <span style="color: red" *ngIf="customerUpdateForm.get('name').errors.required">Không để trống </span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail">Email<span style="color: red">*</span></label>
                <input formControlName="email" type="email" class="form-control" id="inputEmail">
              </div>
              <div *ngIf="customerUpdateForm.get('email').invalid && customerUpdateForm.get('email').touched">
                <span style="color: red" *ngIf="customerUpdateForm.get('email').errors.required">Không để trống </span>
                <span style="color: red" *ngIf="customerUpdateForm.get('email').errors.email">Nhập đúng định dạng email</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPhone">Phone<span style="color: red">*</span></label>
                <input formControlName="phone" type="text" class="form-control" id="inputPhone" >
              </div>
              <div *ngIf="customerUpdateForm.get('phone').invalid && customerUpdateForm.get('phone').touched">
                <span style="color: red" *ngIf="customerUpdateForm.get('phone').errors.required">Không để trống </span>
                <span style="color: red" *ngIf="customerUpdateForm.get('phone').errors.pattern">Đầu số phải +84, và 9 đến 10 chữ số.</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputIdCard">Id Card<span style="color: red">*</span></label>
                <input formControlName="idCard" type="text" class="form-control" id="inputIdCard">
              </div>
              <div *ngIf="customerUpdateForm.get('idCard').invalid && customerUpdateForm.get('idCard').touched">
                <span style="color: red" *ngIf="customerUpdateForm.get('idCard').errors.required">Không để trống </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputGender">Gender<span style="color: red">*</span></label>
            <input formControlName="gender" type="text" class="form-control" id="inputGender">
            <div *ngIf="customerUpdateForm.get('gender').invalid && customerUpdateForm.get('gender').touched">
              <span style="color: red" *ngIf="customerUpdateForm.get('gender').errors.required">Không để trống </span>
            </div>
          </div>
          <div class="form-group">
            <label for="inputType">Type<span style="color: red">*</span></label>
            <select formControlName="type" class="form-control" id="inputType">
              <option>SVip</option>
              <option>Vip</option>
              <option>Member</option>
            </select>
            <div *ngIf="customerUpdateForm.get('type').invalid && customerUpdateForm.get('type').touched">
              <span style="color: red" *ngIf="customerUpdateForm.get('type').errors.required">Không để trống </span>
            </div>
          </div>
          <div class="form-group">
            <label for="inputBirthDay">BirthDay<span style="color: red">*</span></label>
            <input formControlName="dateOfBirth" type="date" class="form-control" id="inputBirthDay">
            <div *ngIf="customerUpdateForm.get('dateOfBirth').invalid && customerUpdateForm.get('dateOfBirth').touched">
              <span style="color: red" *ngIf="customerUpdateForm.get('dateOfBirth').errors.required">Không để trống </span>
            </div>
          </div>
          <div class="form-group">
            <label for="inputMessage">Address</label>
            <textarea formControlName="address" class="form-control" id="inputMessage" rows="5"></textarea>
            <div *ngIf="customerUpdateForm.get('address').invalid && customerUpdateForm.get('address').touched">
              <span style="color: red" *ngIf="customerUpdateForm.get('address').errors.required">Không để trống </span>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
